body{
    margin:0;
    padding:0;
    background-color: #D5D5D5;
}
h2{
    color:#003F5A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ion-icon{
    font-size: 50px;
    margin-top: -10px;
    padding:0;
}
.navbar{
    background-color: #003F5A;
    color : #FFFFFF;
    min-height: 100px;
    height : 100px;
}
.navbar #ul-nav{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.navbar #ul-nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    font-size: 32px;
}
.navbar #ul-nav li img{
    color: #FFFFFF;
}
.navbar #ul-nav li a{
    color : #D5D5D5;
    text-decoration: none;
}
.navbar #ul-nav li a:hover{
    color : #FFFFFF;
    text-decoration: underline;
    text-shadow: 2px 2px 15px rgba(255,255,255,0.5);
}
#burger{
    display: none;
}

.container{
    display: flex;
    width: 100%;
    
}
#produits{
    width: 70%;
    height : 100%;
    text-align: center;
    border-right : 2px dotted #003F5A;
    justify-content: space-between;
}
ul.produits{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
li.produit{
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prod{
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}
.prod:hover{
    transform: scale(1.01);
}
.prod span{
    display: block;
    margin-top: 8px;
}
.prod span.titre{
    margin-top: 12px;
    font-weight: bold;
}
#panier{
    width: 25%;
    text-align: center;
}
#panier img{
    padding : 10px;
}

li.produit-panier{
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    min-width : 310px;
    max-width: 380px;
    padding : 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prod-spec{
    margin-left: 10px;
}
.prod-spec select{
    margin-top: 10px;
}

.titre-panier{
    font-weight: bold;
}
.prod-spec{
    text-align: left;
}
#ulPanier{
    list-style-type: none;
}
.btn-suppr{
    color : red;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    float: right;
    position : absolute;
    top:40px;
    right: 20px;
}