body{
    background-color: #D5D5D5;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 28px;
}
ion-icon{
    font-size: 50px;
    margin-top: -10px;
    padding:0;
}
.navbar{
    background-color: #003F5A;
    color : #FFFFFF;
    min-height: 100px;
    height : 100px;
}
.navbar #ul-nav{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.navbar #ul-nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin : 30px;
    font-size: 32px;
}
.navbar #ul-nav li a{
    color : #D5D5D5;
    text-decoration: none;
}
.navbar #ul-nav li a:hover{
    color : #FFFFFF;
    text-decoration: underline;
    text-shadow: 2px 2px 15px rgba(255,255,255,0.5);
}
#burger{
    display: none;
}